.name {
  text-align: center;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

.bullet-points {
  color: #3899d1f1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.bullet-points div {
  font-family: 'Open Sans', sans-serif;
}

.bullet {
  margin: 0 1.5% 0 1.5%;
  font-weight: 500;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact img {
  margin: 0 5px 0 5px;
}

.contact div {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
}

.seperator {
  margin: 0 1% 0 1%;
  font-weight: 800;
}

.about-me {
  margin-left: 15%;
}

.header {
  color: #275ce2;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin: 2% 0 2% 0;
}

.header > span {
  position: relative;
  display: inline-block;
}

.header > span:after {
  content: '';
  position: absolute;
  top: 75%;
  width: 9999px;
  height: 2px;
  background: rgba(65, 63, 63, 0.6);
}

.header > span:after {
  left: 100%;
  margin-left: 15px;
}
