.wrapper {
  width: 2500px;
  min-width: 2500px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.profile {
  border-radius: 50%;
}

.name {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
}

.bullet-points {
  color: #3899d1f1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.bullet-points div {
  font-family: 'Open Sans', sans-serif;
}

.bullet {
  margin: 0 1% 0 1%;
  font-weight: 500;
}

.contact {
  display: flex;
  justify-content: center;
  min-width: 920px;
}

.contact img {
  margin-right: 5px;
}

.seperator {
  margin-left: 6px;
  margin-right: 6px;
}

.contact div {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.65rem;
}

.section {
  margin-left: 7%;
  margin-right: 5%;
}

.header {
  color: #275ce2;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin: 1% 0 1% 0;
}

.header > span {
  position: relative;
  display: inline-block;
}

.header > span:after {
  content: '';
  position: absolute;
  top: 75%;
  width: 600px;
  height: 2px;
  background: rgba(65, 63, 63, 0.6);
}

.header > span:after {
  left: 100%;
  margin-left: 25px;
}

.skills {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill-header {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

.skill-list {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 550;
}

.first {
  margin-left: 5.4rem;
}

.second {
  margin-left: 5.8rem;
}

.third {
  margin-left: 3rem;
}

.fourth {
  margin-left: 4.1rem;
}

.fifth {
  margin-left: 7.3rem;
}

.first-skill {
  margin-right: 5px;
}

.skill {
  margin-left: 5px;
  margin-right: 5px;
}

.skill-bullet {
  font-weight: 400;
  color: #858181;
  font-size: 0.9rem;
}
